

/* BACKGROUND_IMAGE*/
$background-img:-webkit-linear-gradient(0deg, #ee390f 0%, #f9b700 100%);

/* COLORS */
$primay:#0c2e60;
$secondary:#ff663b;

$title:#5d687b;

$white:#fff;
$gray:#7f7f85;
$light-gray:#f0f4f6;


/* PADDING */
$button-padding-small:10px 25px;
$button-padding-large:14.5px 30px;


/* FONT_SIZE */
$font-size-large:55px;
$font-size-medium:42px;
$font-size-small:15px;

/* FONT WEIGHT */
$fontweight-large:700;
$fontweight-small:600;

/* BORDER_RADIUS */
$button_border_radius:50px;