*{
    box-sizing: border-box;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    color:inherit;
}
img{
    object-fit:cover;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}